@media only screen and (min-width: 65em){
    body {
        max-width: 1000px;
    }
    nav ul {
            display: flex;
            text-align: center;
        }
        nav ul li {
            flex: 1 1 auto;
        }
        a:hover {
            color: var(--color3);
            background-color: var(--color1);
        }
        main, p, h3,h2 {
            margin-right: 20px;
            margin-left: 20px;
        }
        main,
        header,
        footer {
            max-width: 1000px;
        }
        header h1 {
            background-image: linear-gradient(to right, var(--color1), var(--color4));
            padding: 40px;
            font-size: 32px;
            text-shadow: 2px 3px 0px black;
        }
        table {
            margin-left: auto;
            margin-right: auto;
            width: 50vw;
            height: 20vw;
        }
        th, td {
            font-size: 18px;
            padding: 5px;
            text-align: center;
        }
        .first-page h2 {
            font-size: 28px;
        }
        #font, #heading {
            font-size: 28px;
            text-align: center;

        }
                
}