* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 97, 98);
    
}
main div{
    border: 5px solid black;
    padding: 10px;
}

h1 {
    font-size: 1.5rem;
    color: aliceblue;
    text-shadow: 2px 1px 1px black;
}

main {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}

input,
button {
    padding: 0.5rem;
}

button {
    margin: 0.5rem;
    font-size: 17px;
    background-color: rgb(57, 97, 98);
    color: aliceblue;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 5px black;
    margin-top: 20px;
    
}


.delete {
    width: fit-content;
}

.input {
    display: flex;
    gap: 1rem;
   
}

.list {
    padding: 0.5rem;
}

ul {
    margin: 1rem;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div label {
    font-weight: bold;
}
footer {
    color: aliceblue;
    font-size: 18px;
}

@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2rem;
    }

    main {
        width: 320px;
    }
}