@media only screen and (min-width: 64rem) {
    nav button {
        display: none;
    }
    nav {
        margin-top: 0px;
        border-top: 5px solid var(--color3);
        border-right: 5px solid var(--color3);
    }
    nav ul {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        /* justify-content: space-between; */

    }
    nav ul li {
        flex: 1 1 auto;
        text-align: center;

    }
    nav ul li a {
        /* padding: .5rem 1rem; */
        margin-top: 3px;
    }
    header {
        display: flex;
    }


    .site-name h1 {
        display: flex;
        font-size: 50px;
        margin-top: 10px;
        padding: 15px;
        margin-left: 10px;
        margin-bottom: -1px;

    }
    .site-name span {
        padding: 15px;
    }
    .social {
        display: flex;
        margin-right: -380px;
        justify-content: flex-end;
    }
    
    
    .social a img {
        margin-top: -80px;
        /* margin-right: 10px; */
        /* margin-top: -80px; */



    }

}