@media only screen and (min-width: 37.5rem) {
    .site-name {
        font-size: 40px;
        justify-self: center;
        margin: 20px;
        margin-top: 30px;
        
    }
    .chamber {
        margin-top: 67px;
        justify-self: center;
        font-size: 16px;
        
        margin-left: 20px;
        
    }

    #date {
        grid-column: 2/4;
        grid-row: 1/2;
        margin-top: 110px;
        justify-self: center;
       
    }
    .logo-img img {
        width: 250px;
    }
    

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        background-image: linear-gradient(to right, var(--color1), var(--color2));
        
    }
    footer img {
        margin-bottom: 5px;
        margin-top: 5px; 
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        justify-self: start;
        padding-top: 10px;
        padding-left: 0;
        width: 180px;
        margin-left: -10px;
    }
    footer address {
        align-self: center;
        margin-top: 60px;
        grid-column: 1/3;
        grid-row: 1/2;
        margin-left: 90px;
        justify-self: center;
        
    }
    .email-phone-map {
        align-self: center;
        margin: 5px;

    }
    .email{
        grid-column: 3/4;
        grid-row: 1/2;
        
    }
    .phone {
        grid-column: 3/4;
        grid-row: 1/span 1;
    }
    map {
        grid-column: 3/4;
        grid-row: 1/span 1;
        margin-top: 0;

    }
    footer .siteName {
        grid-column: 1/3;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
        margin-top: 20px;
        margin-left: 90px;
        
    }

    .info {
        grid-column: span 3;
        grid-row: 3/4;
    }

    .main-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:  400px 300px auto auto auto;
        

    }
    .hero {
        display: grid;
        
        
        
    }
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .spot1-2-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 4/5;
        grid-column: span 3;
        width: 94vw;
    }
    .spotOne {
        margin: 0px 2.5px 0px 2.5px;
    }

    .spottwo {
        margin: 0px 0px 0px 2.5px;
    }
    
   
    .join {
        display: grid;
        grid-column: span 3;
        grid-row: 4/5;
        height: 200px;
        
    }
    .event {
        grid-column: span 2;
        grid-row: 5/6;
    }

    .weather {
        grid-column: 1/3;
        grid-row: 5/6;
        margin-right: 5px;
    } 
    
     
    .spotthree {
        grid-row: 4/5;

    }
    .hero img {
        grid-column: 1/4;
        grid-row: 1/2;
        max-width: 100%;
        margin: 5px auto;
        
       
    }
    .herodiv {
        margin: 5px auto;
    }
    .image-container p {
        bottom:  -50px;
        right: 30px;
    }
    
    

}