:root {
    --lato: 'Lato', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;

    --color1: #184e71;
    --color2: #1a759f;
    --color3: #b5e48c;
    --color4: #52b69a;
    --color5: #34a0a4;
    --body: #e0f8f1;

}

body {
    line-height: 1.2rem;
    /* margin: 0 auto; */
    background-color: var(--body);
}


header  {
    background-image: linear-gradient(to right, var(--color1), var(--color4));
    display: flex;
    padding: auto;
    padding-bottom: 10px;
    
}
.logo {
    display: flex;
    align-items: flex-start;
   
    
    
   
}

.logo img{
    
    background-color: var(--body);
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 100%;
    
}
.site-name {
    display: block;
    /* margin-right: 70px; */
  
    
}

.site-name h1{
    display: block;
    font-family: var(--nunito);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.565);
    color: white;
    margin-top: 2px;
    color: var(--color3);
    text-align: center;
    line-height: 2rem;
    margin-right: 15px;
    

}

.social a{
    display: block;
    float: right;
    
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    color: var(--color3);
    font-weight: bold;
    font-size: 2rem;
    
}
nav {
   background-color: #184d71bb;
   margin-top: 10px; 
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--body);
    border: 1px solid;
    font-family: var(--lato);
    
}


nav ul li.active a {
    background-color: var(--color1);

}
nav a:hover {
    color: var(--color3);
    background-color: var(--color1);
}
.site-name span {
    display: block;
    text-align: center;
    padding: 0;
    font-family: var(--nunito);
    margin-left: 10px;
    font-size: 18px;
    color: var(--body);
    margin-bottom: -5px;
}
/* header nav ul {
    display: flex;
    background-color: #184d71bb;
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;



}
header nav ul li {
    align-content: center;
    text-align: center;
}

header nav ul li a {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: var(--lato);
    text-decoration: none;
    padding: 10px;
}

.navigation {
    list-style: none;
    text-align: center;
} */

