:root {
    --lato: 'Lato', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;

    --color1: #184e71;
    --color2: #1a759f;
    --color3: #b5e48c;
    --color4: #52b69a;
    --color5: #34a0a4;
    --body: #e0f8f1;

}

body {
    line-height: 1.2rem;
    /* margin: 0 auto; */
    background-color: var(--body);
}


header  {
    background-image: linear-gradient(to right, var(--color1), var(--color4));
    display: block;
    /* padding: auto; */
    padding-bottom: 10px;
    
    
}
.logo {
    display: flex;
    align-items: flex-start;
   
    
    
   
}

.logo img{
    padding-left: 0;
    background-color: var(--body);
    padding-right: 0;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 0px;
    border-radius: 100%;
    
}
.site-name {
    margin-left: 2px;
}


.site-name h1{
   
    display: block;
    font-family: var(--nunito);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.565);
    color: white;
    margin-top: 10px;
    color: var(--color3);
    margin-right: 10px;
    line-height: 1.5rem;
    
    font-size: 24px;

}
.site-name h3 {
    display: flex;
    text-align: left;
    padding: 0;
    font-family: var(--nunito);
    margin-left: 1px;
    font-size: 16px;
    color: var(--body);
}
.social {
    float: right;
    margin-top: -110px;
    margin-right: 5px;
}

.social a{
    display: block;
    
    /* float: right; */
    
}
nav button {
    margin: .2rem 1vw;
    background: transparent;
    border: none;
    color: var(--color3);
    font-weight: bold;
    font-size: 2rem;
    
}
nav {
   background-color: #184d71bb;
}
nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: none;

}
nav ul.open{display: block;}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--body);
    border: 1px solid;
    font-family: var(--lato);
    
}


nav ul li.active a {
    background-color: var(--color1);

}
nav a:hover {
    color: var(--color3);
    background-color: var(--color1);
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
