:root {
    --lato: 'Lato', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;

    --color1: #184e71;
    --color2: #1a759f;
    --color3: #b5e48c;
    --color4: #52b69a;
    --color5: #34a0a4;
    --body: #e0f8f1;

}

body {
    margin: 0;
    background-color: var(--body);
}

header {
    display: grid;
    grid-template-columns: 100px auto 100px;
    background-image: linear-gradient(to right, var(--color1), var(--color4));

}

.logo-img img {
    width: 80px;
    margin: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.site-name {
    display: block;
    font-family: var(--nunito);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.565);
    margin-top: 30px;
    color: var(--color3);
    align-self: flex-start;
    justify-self: left;
    line-height: 1.5rem;
    text-align: start;
    font-size: 26px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.chamber {
    display: block;
    font-family: var(--nunito);
    color: var(--color3);
    font-size: 14px;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 60px;
    align-self: flex-start;
    justify-self: left;


}

#date {
    display: block;
    font-family: var(--nunito);
    color: var(--color3);
    grid-column: -4/-1;
    grid-row: 2/3;
    align-self: left;
    justify-self: left;
    margin-left: 10px;
    margin-top: 1px;
    

}

.social {
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
}

.social img {
    display: block;
    margin: 5px;
    margin-right: 5px;
    width: 50%;

}

nav button {
    margin: .1rem;
    background: transparent;
    border: none;
    color: var(--color3);
    font-weight: bold;
    font-size: 2rem;

}

nav {
    background-color: #184d71bb;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;

}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--body);
    border: 1px solid;
    font-family: var(--lato);

}


nav ul li.active a {
    background-color: var(--color1);

}

nav a:hover {
    color: var(--color3);
    background-color: var(--color1);
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

footer p {
    font-family: var(--nunito);
    color: var(--color3);
    text-align: center;
    background-image: linear-gradient(to bottom, var(--color1), var(--color2));
    font-size: 16px;
    padding: 10px;
}