@media only screen and (min-width: 65em) {
    body {
        margin: 0 auto;
        width: 1000px;
    }
    nav {
        margin-top: 0px;
        grid-column: 2/4;
        justify-self: end;
        align-self: flex-end;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        flex: 1 1 auto;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav button {
        display: none;
    }
    .container,
    .foot {
        max-width: 100%;
        width: 1000px;
    
    }
    .image-container {
        width: 870px;
        height: 450px;
    }

    .image-container img {
        max-width: 100%;
        width: 400px;
    }

    .image1 {
        top: 60px;
        left: 50px;
    }

    .image2 {
        right: 50px;
        top: 60px;
    }

    .jolla-img {
        width: 400px;
    }

    div.imagem {
        padding-top: 10vh;
        padding-bottom: 10vw;
        font-family: var(--paragraph);
        width: 800px;
        height: 600px;
        margin: 20px auto;
        display: flex;
    }

    div.imagem {
        background-attachment: fixed;
        background-color: white;
        color: white;
        box-shadow: inset -7px -1px 23px 6px rgba(0, 0, 0, 0.473);
    }

    .imagem img {
        display: none;
    }

    .imagem > p {
        background-color: #007f5fa6;
        display: flex;
        line-height: 2em;
        text-shadow: 1px 1px 0px rgb(0, 0, 0);
        width: 300px;
        padding: 10px;
        align-self: center;
    }

    div#img01 {
        background-image: url(../images/para1.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 10px;
        max-width: 900px;
    }
}