@media only screen and (min-width: 65em) {
    body {
        margin: 0 auto;
        width: 1000px;
    }
    nav {
        margin-top: 0px;
        /* border-top: 5px solid var(--color1);
        border-right: 5px solid var(--color1);
        border-bottom: 5px solid var(--color1); */
        grid-column: 2/4;
        justify-self: end;
        align-self: flex-end;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        flex: 1 1 auto;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav button {
        display: none;
    }
    .container,
    .foot {
        max-width: 100%;
        width: 1000px;
    
    }
    .image-container {
        width: 870px;
        height: 450px;
    }

    .image-container img {
        max-width: 100%;
        width: 400px;
    }

    .image1 {
        top: 60px;
        left: 50px;
    }

    .image2 {
        right: 50px;
        top: 60px;
    }
    .jolla-img {
        width: 400px;
    }
    
    article {
        padding-top: 10vh;
        padding-bottom: 10vw;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte1);
        font-style: italic;
        width: fit-content;
        height: 600px;
        margin: 0 auto;

    }

    article.imagem {
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.746);
        color: white;
        box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.473);
        



    }

    article.imagem>p {
        background-color: rgba(0, 0, 0, 0.514);
        display: inline-block;
        text-shadow: 2px 2px 0px rgb(0, 0, 0);

    }

    article#img01 {
        background-image: url(../images/paralax.jpg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        
        
    }



}