@media only screen and (min-width: 65em) {
    body {
        margin: 0 auto;
        width: 1000px;
    }
    nav {
        margin-top: 0px;
        /* border-top: 5px solid var(--color1);
        border-right: 5px solid var(--color1);
        border-bottom: 5px solid var(--color1); */
        grid-column: 2/4;
        justify-self: end;
        align-self: flex-end;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        flex: 1 1 auto;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav button {
        display: none;
    }
    .container,
    .foot {
        max-width: 100%;
        width: 1000px;
    
    }
    .image-container {
        width: 870px;
        height: 450px;
    }

    .image-container img {
        max-width: 100%;
        width: 400px;
    }

    .image1 {
        top: 60px;
        left: 50px;
    }

    .image2 {
        right: 50px;
        top: 60px;
    }
    .jolla-img {
        width: 400px;
    }
    .cards1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));

    }



}