@media only screen and (min-width: 39em) {
    body {
        width: 100%;
    }
    main, .container {
        width: 900px;
        margin-right: auto;
        margin-left: auto;
    }
    .banner p {
        border: thin solid white;
        padding: 10px;
        text-align: center;
    }
    header #message {

        position: absolute;
        font-size: 32px;
        top: 15px;
        left: 40%;
    }
    
    .banner h1 {
        font-size: 40px;
        border: none;
    }
    .weather {
        display: grid;
    }
    .weatherTwo {
       margin-top: -10px;
    }

    section {
        margin: 0.5rem;
        padding: 0.5rem;
        /* background-color: var(--color1); */
        /* border: 1px solid var(--color1); */
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .alldrink {
        box-shadow: 1px 1px  5px rgba(0, 0, 0, 0.598);
        border: 1px solid white;
    }
    .back {
        display: none;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        height: auto;
    }

    #clear{
        display: block;
    }
    

    

    .theOrder,
    .nutrition {
        font-weight: normal;

    }
    .theOrder p{
        border: none;
        text-align: left;
    }
   

    

    footer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        
    }
    .foot {
        display: grid;
    }
    .foot img {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-items: start;
        margin: 5px;
        margin-bottom: 20px;
    }
    .email-phone-map {
        grid-column: 2/span 2;
        grid-row: 1/2;
        justify-self: right;
    }
   
}