:root {
    --paragraph: 'Maven Pro', sans-serif;
    --headings: 'Raleway', sans-serif;

    --color1: #007F5F;
    --color2: #2B9348;
    --color3: #55A630;
    --color4: #80B918;
    --color5: #AACC00;
    --color6: #BFD200;
    --color7: #D4D700;
    --color8: #EEEF20;
    --color9: #FFFF3F;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings);
}

p,
a {
    font-family: var(--paragraph);
}
.container {
    width: 400px;
    margin: 5px auto;
}
nav button {
    margin-left: -2px;
    background: var(--color7);
    border: 1px solid var(--color1);
    color: var(--color1);
    font-weight: bold;
    font-size: 2rem;
    padding-left: 4px;
}
nav {
    background-color: var(--color1);
}
nav ul {
    padding: 0;
    margin: 0;
    display: none;
}
nav ul li {
    list-style: none;
}

nav ul.open {
    display: block;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li.active a {
    background-color: var(--color2);
    color: black;
   
}

nav a:hover {
    color: var(--color1);
    background-color: var(--color9);
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}
#hamburgerBtn span:nth-child(1),
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn span:nth-child(2),
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
.social {
    float: right;
    margin-top: -130px;
}
.bold {
    font-weight: bold;
}

.social a {
    display: block;
    margin-right: 20px;
    margin-left: -15px;
}

.logo img {
    margin: 0.5rem;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.501);
}

header #message {
    font-family: var(--paragraph);
    padding: .8rem 1vw;
    font-weight: bold;
}
.banner img {
    display: block;
    width: 100%;
    height: auto;
}


.banner h1 {
    display: none;
}
main {
    display: block;
    background-color: #cce550;
    /* width: fit-content;*/
    margin: 0 auto;
    width: 400px;
}
p {
    margin: 0.5rem;
}

.cards1 h2,
.customize,
.coastal,
.cards1 h3,
.weather h3 {
    margin: 30px 0.5rem 10px 0.5rem;
    text-align: center;
}
.local-store,
.truck-deliver {
    margin: 0.5rem;
    background-color: white;
    padding: 5px;

}
.cards1 img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 350px;
    height: auto;
    box-shadow: 0 0 10px white;
    border: 1px solid var(--color1);
}


.image-container {
    position: relative;
    width: 400px;
    height: 540px;
    background-color: var(--color1);
    margin: auto;
}

.image1 {
    position: absolute;
    top: 35px;
    left: 25px;
    transform: rotate(10deg);
    z-index: 2;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.512);
}

.image2 {
    position: absolute;
    top: 220px;
    right: 20px;
    transform: rotate(-10deg);
    z-index: 1;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.301);
}
.image-container p {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    font-size: larger;
}
.makedrink {
    position: absolute;
    bottom: 50px;
    right: 15px;
    font-family: var(--paragraph);
    padding: 15px;
    background-color: #144a5a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    margin: auto;
    font-size: 1.05rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.257);
    /* z-index: 3; */

}

.makedrink:hover {
    cursor: pointer;
    color: #144a5a;
    background-color: white;
    border: 2px solid #144a5a;
    box-shadow: none;
}

.customize {
    text-align: center;
    /* margin-top: 40px; */
    padding: 5px;
}
.line {
    height: 0.2px;
    width: 200px;
    margin-top: 20px;
}
.coastalp p{
    width: 340px;
    background-color: rgb(246, 246, 146);
    margin-top: 0;
    padding: 5px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px white;

}
.coastalp img {
    border-bottom: none;
}
.weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
}
.weather h3 {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.weather {
    display: block;
    
    text-align: center;
    font-family: var(--paragraph);
}
.weather img {
    width: 52px;
}
.weatherTwo {
    border-collapse: collapse;
    margin: -5px auto; 
    color: white;
    background-color: #007F5F;
    border: 10px solid #cce550;
}
.weatherOne {
    border: 10px solid #cce550;
    background-color: rgb(246, 246, 146);
    
} 
td {
    border: 2px solid white;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    width: 6%;
    height: 60px;
}
table {
    border-bottom: 10px solid #cce550;
    background-color: none;
    
}
th[scope='col'],
.header {
    /* border: 2px solid black; */
    padding: 10px;
    background-color: rgb(246, 246, 146);
    font-size: 18px;
    color: black;
}







.foot-logo {
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.501)
}

.email-phone-map {
    display: block;
    margin-top: 5px;
    padding: 5px;
}
.email,
map > a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}


footer {
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(246, 246, 146);
    padding-bottom: 10px;
}
.email:hover,
map a:hover {
    background-color: var(--color1);
    color: white;
    padding: 5px;
    margin-top: 5px;
}