:root {
    --paragraph: 'Maven Pro', sans-serif;
    --headings: 'Raleway', sans-serif;

    --color1: #007F5F;
    --color2: #2B9348;
    --color3: #55A630;
    --color4: #80B918;
    --color5: #AACC00;
    --color6: #BFD200;
    --color7: #D4D700;
    --color8: #EEEF20;
    --color9: #FFFF3F;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings);
}

p,
a {
    font-family: var(--paragraph);
}
.container {
    width: 400px;
    margin: 5px auto;
}
nav button {
    margin-left: -2px;
    background: var(--color7);
    border: 1px solid var(--color1);
    color: var(--color1);
    font-weight: bold;
    font-size: 2rem;
    padding-left: 4px;
}
nav {
    background-color: var(--color1);
}
nav ul {
    padding: 0;
    margin: 0;
    display: none;
}
nav ul li {
    list-style: none;
}

nav ul.open {
    display: block;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li.active a {
    background-color: var(--color2);
    color: black;
   
}

nav a:hover {
    color: var(--color1);
    background-color: var(--color9);
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}
#hamburgerBtn span:nth-child(1),
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn span:nth-child(2),
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
.social {
    float: right;
    margin-top: -130px;
}
.bold {
    font-weight: bold;
}

.social a {
    display: block;
    margin-right: 20px;
    margin-left: -15px;
}

.logo img {
    margin: 0.5rem;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.501);
}

header #message, form {
    font-family: var(--paragraph);
    padding: .8rem 1vw;
    font-weight: bold;
}
.banner img {
    display: block;
    width: 100%;
    height: auto;
}


.banner h1 {
    display: block;
    font-size: 32px;
    color: var(--color1);
    text-shadow: 1px 1px 2px white;
    text-align: center;
    
    
}
main {
    display: block;
    background-color: #cce550;
    /* width: fit-content;*/
    margin: 0 auto;
    width: 400px;
}
p {
    margin: 0.5rem;
}

.cards1 h2,
.customize,
.coastal,
.cards1 h3,
.weather h3 {
    margin: 30px 0.5rem 10px 0.5rem;
    text-align: center;
}
.local-store,
.truck-deliver {
    margin: 0.5rem;
    background-color: white;
    padding: 5px;

}
.cards1 img {
    display: block;
    /* margin: auto; */
    max-width: 100%;
    width: 380px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 10px white; */
    border: 1px solid var(--color1);
}
.cards1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));

}
.coastalp p {
    display: block;
    /* object-fit: contain;*/
    width: 365px; 
    /* width: 400px; */
    background-color: rgb(246, 246, 146);
    margin-top: 0;
    /* margin-left: 0; */
    padding: 0.2rem 0.5rem;
    margin-left: auto;
    margin-right: auto;

    /* padding: 10px; */
    /* margin-left: -1px; */
    /* margin: 0 auto; */
    border-left: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
    /* box-shadow: 0 0 10px white; */
    

}
/* section {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
} */



.image-container {
    position: relative;
    width: 400px;
    height: 540px;
    background-color: var(--color1);
    margin: auto;
}

.image1 {
    position: absolute;
    top: 35px;
    left: 25px;
    transform: rotate(10deg);
    z-index: 2;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.512);
}

.image2 {
    position: absolute;
    top: 220px;
    right: 20px;
    transform: rotate(-10deg);
    z-index: 1;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.301);
}
.image-container p {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    font-size: larger;
}
.makedrink {
    position: absolute;
    bottom: 50px;
    right: 15px;
    font-family: var(--paragraph);
    padding: 15px;
    background-color: #144a5a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    margin: auto;
    font-size: 1.05rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.257);
    /* z-index: 3; */

}

.makedrink:hover {
    cursor: pointer;
    color: #144a5a;
    background-color: white;
    border: 2px solid #144a5a;
    box-shadow: none;
}

.customize {
    text-align: center;
    /* margin-top: 40px; */
    padding: 5px;
}
.line {
    height: 0.2px;
    width: 200px;
    margin-top: 20px;
}

.coastalp img {
    border-bottom: none;
}
.weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 5px;
}
.weather h3 {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.weather {
    display: block;
    text-align: center;
    font-family: var(--paragraph);
}
.weather img {
    width: 52px;
}
.cards {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    margin-top: -10px;
    
}
.cards ul{
    list-style: none;
    border: 2px solid white;
    background-color: var(--color1);
    color: white;
    padding: 2px;
    width: 130px;
    height: 170px;

}
.cards ul li {
    padding: 5px;
    font-weight: bold;
}
.cards ul li:nth-child(1) {
    border: 2px solid white;
    margin-bottom: 10px;
}
.weatherOne {
    border: 10px solid #cce550;
    background-color: rgb(246, 246, 146);
    
} 
.weatherTwo {
    padding: 10px;
}


form {
    padding: 10px;
    
}
form fieldset {
    
    margin: 2rem auto;
    border: 2px solid var(--color2);
    background-color: #c6e8f89a;
    border-radius: 10px;
    padding: .5rem 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.361);
}
.theOrder, .nutrition {
    font-weight: normal;
    
}

form legend {
    color: white;
    margin: 0 auto;
    padding: 0.2rem .5rem;
    font-weight: bold;
    background-color: var(--color2);
    border-radius: 10px;
}
form label span {
    color: red;
    font-weight: bold;
}
label.top {
    display: block;
    padding-top: 1rem;
    margin-top: -20px;
    font-size: 16px;
    font-weight: bold;
    
}
select {
    display: block;
    padding-top: 1rem;
    font-size: 16px;
    font-weight: bold;
}
form label.top input , select, textarea{
    /* -webkit-appearance: none; */
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    padding: .75rem;
    margin-bottom: 1rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
#submit, #clear {
    border: none;
    background-color: var(--color1);
    color: white;
    border-radius: 1rem;
    padding: .75rem .5rem;
    margin: 0 0 2rem 0;
    width: 76%;
    max-width: 15rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.496);
    cursor: pointer;
}
.selectedFruit {
    background-color: var(--color1);
    color: white;
    display: inline-block;
    font-family: var(--headings);
    padding: 10px;
    font-weight: bold;
    border-radius: 54%;
}






.back {
    float: right;
    padding: 5px;
   
    
}

.foot-logo {
    width: 200px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.501)
}

.email-phone-map {
    display: block;
    margin-top: 5px;
    padding: 5px;
}
.email,
map > a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}


footer {
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(246, 246, 146);
    padding-bottom: 10px;
    height: auto;
}
.email:hover,
map a:hover {
    background-color: var(--color1);
    color: white;
    padding: 5px;
    margin-top: 5px;
}