@media only screen and (min-width: 65em) {
    

    header {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.437), dodgerblue) ;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }
    section h2 {
        text-align: center;
        
    }
    section h3{
        text-align: center;
        font-size: 18px;
    }

    section a{
        text-align: center;
    }

    section p {
        line-height: 1.5rem;
    }
    
    
    section img, #image {
        width: 90%;
    }

    #third p {
        text-align: left;
    }

    footer {
        font-size: 18px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.437), dodgerblue);
    }

}    