@media only screen and (min-width: 60em) {
    body {
        max-width: 100%;
        
    }

    

    header {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.437), dodgerblue) ;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

    }

    main section:nth-child(3) {
        grid-column: span 1;
    }
    section h2 {
        font-size: 27px;
        text-align: center;
    }
    section h3{
        text-align: center;
        font-size: 18px;
    }

    section a{
        display: block;
        text-align: center;
    }

    section p {
        line-height: 1.5rem;
        
    }
    section h2{
        padding: 20px;
        
        
    }
    
    section img {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    footer {
        font-size: 18px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.437), dodgerblue);
    }

}    