@media only screen and (min-width: 37.5em) {
    body {
        max-width: 650px;
    }

    header {
        font-size: 1.5rem;
    }
    header h2 {
        font-size: 1.7rem
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;

    }


    section h2 {
        font-size: 1.3rem;
        margin-bottom: 5px
    }

    main section:nth-child(3) {
        grid-column: span 2;
        text-align: center;
        
    }
    #image {
        display: block;
        margin: 0 auto;
        width: 70%;
        
    }
    
    #third h3{
        text-align: center;
    } 

    #third a {
        display: block;
        text-align: center;
    }
    #third p {
        text-align: left;
    }

    footer{
        text-align: center;
        margin: auto;
    
    }
    
}    
