:root {
    --fonte: Verdana, Arial, Helvetica;
    --bebas: 'Bebas Neue', 'cursive';
    --lato: 'Lato', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;
}
*{
    font-family: var(--lato);
    
}

body {
    margin: 5px;
    
}

header {
    padding: 10px;
    background-color: dodgerblue;
    color: aliceblue;
    margin-bottom: 5px;
    
}

header h1 {
    
    font-size: 1.5em;
    text-shadow: 2px 7px 9px rgba(0, 0, 0, 0.503);
    text-align: center;
    line-height: 2rem;
    
}
header h2 {
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 2px 7px 9px rgba(0, 0, 0, 0.503);
    
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 300px;
    margin: 5px auto;
    
}
section {
    margin-top: 5px;
    border: 2px solid rgba(0, 0, 0, 0.401);
    background-color: rgb(232, 231, 231);
    border-radius: 26px 26px 0 0;
    
}
section h2 {
    background-color: rgb(9, 129, 241);
    border-radius: 26px 26px 0 0;
    color: aliceblue;
    padding: 14px;
    margin: -2px;
    text-shadow: 2px 7px 9px rgba(0, 0, 0, 0.503);
    font-size: 20px;
    
   
}

section h3 {
    font-size: 16px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    
}

section img {
    padding: 5px;
    display: block;
    margin: 0 auto;
    width: 95%;
   
    
}

section p, a {
    padding: 5px;
    margin: 5px;
    text-align: left;
    display: block;
}


footer {
    text-align: center;
    margin: auto;
} 



a:hover {
    background-color: rgb(42, 157, 165);
    color: aliceblue;
}

footer {
    padding: 5px;
    background-color: rgb(9, 129, 241);
    text-align: center;
    color: black;
    margin: 3px -4px 5px 2px;

}

footer a {
    text-align: center;
    display: inline;
    background-color: rgba(195, 193, 193, 0.614);
    text-decoration: none;
    border-radius: 10px;
    color: black;
    border: 2px solid white;
}




