:root {
    --fonte: Verdana, Arial, Helvetica;
    --bebas: 'Bebas Neue', cursive;
    --lato: 'Lato', sans-serif;
    --nunito: 'Nunito Sans',
        sans-serif;
}
*{
    font-family: var(--lato);
    
}

body, section {
    max-width: 310px;
    margin: 2px;
    
}

header {
    padding: 10px;
    background-color: dodgerblue;
    color: aliceblue;
    margin: 5px -4px 2px 2px;
    
    
    
}

h1 {
    margin: 0;
    font-size: 1.5em;
    text-shadow: 2px 7px 9px rgba(0, 0, 0, 0.503);
    text-align: center;
    
}
header h2 {
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 2px 7px 9px rgba(0, 0, 0, 0.503);
    
    
}


p, h3, a{
    text-align: left;
    padding: 8px;
    margin: 4px -6px;
    
}
main {
    display: grid;
    grid-template-columns: 1fr;
    
}
section {
    margin-top: 7px;
    border: 2px solid rgba(0, 0, 0, 0.401);
    background-color: rgb(232, 231, 231);
    border-radius: 5px 5px 0 0;
    padding: 5px;
    
    
}
main h2 {
    background-color: rgb(9, 129, 241);
    border-radius: 5px 5px 0 0;
    color: aliceblue;
    padding: 7px;
    margin: -6px;
    text-shadow: 2px 7px 9px rgba(0, 0, 0, 0.503);
    
    
}

h3 {
    font-size: 16px;
}

section img {
   
    margin: 10px 0px 5px -0.5px
}

footer {
    padding: 5px;
    background-color: rgb(9, 129, 241);
    text-align: left;
    color: black;
    margin: 0px -4px 1px 2px;
    

}


a:hover {
    background-color: rgb(42, 157, 165);
    color: aliceblue;
}